:root {
    --maroon: #990012;
    --linen: #fbf7f5;
}
body {
    font-family: 'Special Elite', cursive;
}

.container {
    display: flex;
    justify-content: center;
}

.zone {
    width: 900px;
    background-image: url(../imgs/at-bat.png);
    background-repeat: no-repeat;
    display: grid;
    grid-template-columns: 270px 100px 100px 100px 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 10% 10%;
    grid-gap: 10px;
    border: .5px solid var(--maroon);
    place-items: center;
}

.onePitch, .bat-over{
    font-size: 12px;
    padding: 3px;
    border: .5px solid var(--maroon);
    width: 130px;
    display: flex;
    align-items: center;
    justify-content: left;
    box-sizing: border-box;
}


.bat-over {
    background-color: var(--maroon);
    color: var(--linen);
    justify-content: center;
}


#upper-left {
    grid-column-start: 2;
    grid-row-start: 2;
}

#upper-center {
    grid-column-start: 3;
    grid-row-start: 2;
}

#upper-right {
    grid-column-start: 4;
    grid-row-start: 2;
}

#middle-left {
    grid-column-start: 2;
    grid-row-start: 3;
}

#middle-center {
    grid-column-start: 3;
    grid-row-start: 3;
}

#middle-right {
    grid-column-start: 4;
    grid-row-start: 3;
}

#lower-left {
    grid-column-start: 2;
    grid-row-start: 4;
}

#lower-center {
    grid-column-start: 3;
    grid-row-start: 4;
}

#lower-right {
    grid-column-start: 4;
    grid-row-start: 4;
}

.square {
    width: 80px;
    height: 105px;
    background-color: green;
    box-sizing: border-box;
    box-shadow: 1px 1px rgb(0,0,0,.5);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--linen);
    text-shadow: 2px 1px rgb(0,0,0,.5);
    cursor: pointer;
}

.randomSquare {
    width: 40px;
    height: 70px;
    background-color: green;
    box-sizing: border-box;
}


.button {
    height: 30px;
    width: 120px;
    border: 1px solid black;
    background-color: var(--maroon);
    font-family: Times, serif;
    font-size: 14px;
    color: var(--linen);
    font-family: 'Special Elite', cursive;
    padding-top: 4px;
}


.buttons {
    grid-column: 2/5;
    grid-row-start: 5;
    width: 300px;
    display: flex;
    justify-content: space-around;
}

.clear, .undo {
    height: 30px;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 4px 6px;
    margin-left: 6px;
    padding: 1px;
    border: 1px solid black;
    background-color: var(--maroon);
    font-size: 14px;
    color: var(--linen);
    font-family: 'Special Elite', cursive;
}

.list-buttons {
    display: flex;
    justify-content: flex-end;
}

.list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
    list-style-type: none;
    width: 500px;
    height: 460px;
}

@keyframes color {

    50% {
        background-color: var(--maroon);
    }
    100% {
        background-color: green;
    }
}

.randomSquareHit {
    animation-name: color;
    animation-duration: 3s;
}

.paper {
    border: 1px solid var(--maroon);
    background-color: var(--linen);
    height: 520px;
    overflow: scroll;
}

.paper h1 {
    font-size: 24px;
    padding-top: 5px;
    padding-left: 4px;
    margin: 0px -1px 0px 0px;
}

.title {
    border-bottom: .5px solid var(--maroon);
    border-right: .5px solid var(--maroon);
    border-top: .5px solid var(--maroon);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 0;
}

@media (max-width: 1320px) {
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .paper {
        width: 900px;
        height: 320px;
    }

    .list {
        max-height: 245px;
    }

}

@media (max-width: 900px) {
    .paper, .zone {
        width: 522px;
        box-sizing: border-box;
    }

    .zone {
        background-image: url(../imgs/at-bat-cropped.png);
        background-repeat: no-repeat;
        grid-template-columns: 0px 100px 100px 100px 1fr;
    }


}

@media (max-width: 517px) {
    .zone {
        background: none;
        background-color: var(--linen);
        grid-template-columns: 1fr 100px 100px 100px 1fr;
    }

    .paper, .zone {
        width: 100%;
    }
}
