:root {
    --maroon: #990012;
}
body {
    font-family: 'Special Elite', cursive;
}

.container {
    display: flex;
    justify-content: flex-start;
}

.zone {
    width: 900px;
    background-image: url(../imgs/at-bat.png);
    background-repeat: no-repeat;
    display: grid;
    grid-template-columns: 270px 100px 100px 100px 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 10% 10%;
    grid-gap: 10px;
    border: .5px solid var(--maroon);
    place-items: center;
}

#upper-left {
    grid-column-start: 2;
    grid-row-start: 2;
}

#upper-center {
    grid-column-start: 3;
    grid-row-start: 2;
}

#upper-right {
    grid-column-start: 4;
    grid-row-start: 2;
}

#middle-left {
    grid-column-start: 2;
    grid-row-start: 3;
}

#middle-center {
    grid-column-start: 3;
    grid-row-start: 3;
}

#middle-right {
    grid-column-start: 4;
    grid-row-start: 3;
}

#lower-left {
    grid-column-start: 2;
    grid-row-start: 4;
}

#lower-center {
    grid-column-start: 3;
    grid-row-start: 4;
}

#lower-right {
    grid-column-start: 4;
    grid-row-start: 4;
}

.square {
    width: 80px;
    height: 105px;
    background-color: green;
    box-sizing: border-box;
    box-shadow: 1px 1px rgb(0,0,0,.5);
}

.randomSquare {
    width: 40px;
    height: 70px;
    background-color: green;
    box-sizing: border-box;
}


.atBat, .button, .clear {
    height: 30px;
    width: 100px;
    border: 1px solid black;
    margin-top: 4px;
    background-color: var(--maroon);
    font-family: Times, serif;
    font-size: 14px;
    color: #fbf7f5;
    font-family: 'Special Elite', cursive;
    padding-top: 3px;
}

.atBat {
    grid-column-start: 3;
    grid-row-start: 5;
}

.button {
    width: 120px;
    grid-column-start: 1;
    grid-row-start: 6;
}

.clear {
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 6px;
    margin-bottom: 5px;
    margin-right: 6px;
    padding: 1px;
}

.random {
    width: 200px;
}

.list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
    list-style-type: none;
    width: 500px;
    max-height: 480px;
}


.onePitch, .bat-over {
    font-size: 12px;
    padding-top: 3px;
    border: .5px solid var(--maroon);
    width: 110px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

.bat-over {
    border: 3px solid var(--maroon);
}

@keyframes color {

    50% {
        background-color: var(--maroon);
    }
    100% {
        background-color: green;
    }
}

.randomSquareHit {
    animation-name: color;
    animation-duration: 3s;
}

.paper {
    border: 1px solid var(--maroon);
    background-color: #fbf7f5;
    height: 550px;
}

.paper h1 {
    font-size: 24px;
    padding-top: 5px;
    padding-left: 4px;
    margin: 0px -1px 0px 0px;
}

.title {
    border-bottom: .5px solid var(--maroon);
    border-right: .5px solid var(--maroon);
    border-top: .5px solid var(--maroon);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
